@page "/accesorios"
@using AccesoriosApp.DTOs
@using AccesoriosApp.Services
@rendermode InteractiveServer
@inject AccesorioService accesorioService;
@inject IJSRuntime JSRuntime;
@inject NavigationManager navigationManager;

<h3>Accesorios</h3>
<link href="css/style.css" rel="stylesheet" />

<div class="mt-3 mb-3 d-flex gap-2">
    <input type="text" placeholder="Buscar por nombre" @bind="nombreBuscar" class="form-control" />
    <button class="btn-agregar btn-primary px-4 fw-normal" @onclick="() => BuscarAccesorios()">Buscar</button>
</div>

<a href="/accesorios/guardar" class="btn-agregar btn btn-primary btn-icon"><i class="fa-solid fa-plus"></i></a>

@if (accesorios == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    //Tabla
    <div class="custom-card mt-3">
    <table class="table custom-table">
        <thead>
            <tr>
                <th class="custom-th rounded-m-l">Nombre</th>
                <th class="custom-th">Tipo de accesorio</th>
                <th class="custom-th">Descripción</th>
                <th class="custom-th">Foto</th>
                <th class="custom-th rounded-m-r">Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var accesorio in accesorios)
            {
                <tr>
                    <td class="custom-td">@accesorio.Nombre</td>
                    <td class="custom-td">@accesorio.TipoDeAccesorio.Nombre</td>
                    <td class="custom-td">@accesorio.Descripcion</td>
                    <td class="custom-td">
                        <div>
                            <img style="width:100px;object-fit:cover;height:100px;overflow:hidden;border-radius:20px;" src="@accesorio.UrlFoto" />
                        </div>
                    </td>
                    <td class="d-flex gap-2 custom-td">
                        <button class="btn-editar btn-icon btn btn-primary" @onclick="() => MoveToUpdate(accesorio.Id)"><i class="fa-regular fa-pen-to-square"></i></button>
                        <button class="btn-eliminar btn-icon btn btn-danger" @onclick="() => ConfirmarEliminarAccesorio(accesorio.Id)"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    //PAGINACION
    <div class="mt-3 mb-3 d-flex justify-content-between">
        <button class="btn-agregar btn-icon" @onclick="@(pageable.First ? null : () => OnChangePage(pageable.Pageable.PageNumber - 1))">
            <i class="fa-solid fa-chevron-left"></i>
        </button>
        <span>Página @(pageable.Pageable.PageNumber + 1) de @pageable.TotalPages</span>
        <button class="btn-agregar btn-icon" @onclick="@(pageable.Last ? null : () => OnChangePage(pageable.Pageable.PageNumber + 1))">
            <i class="fa-solid fa-chevron-right"></i>
        </button>
    </div>
}

@code {
    private List<Accesorio> accesorios;
    private ContentResponse pageable;
    private string errorMessage;
    private string nombreBuscar = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var res_accesorios = await accesorioService.GetAccesorios();
            accesorios = res_accesorios.Content;
            pageable = res_accesorios;
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    private async Task ConfirmarEliminarAccesorio(int id)
    {
        // Llamar a SweetAlert2 para confirmar
        var confirmado = await JSRuntime.InvokeAsync<bool>("confirmarEliminacion");
        if (confirmado)
        {
            await EliminarAccesorio(id);
        }
    }

    private async Task EliminarAccesorio(int id)
    {
        var eliminado = await accesorioService.DeleteAccesorio(id);
        if (eliminado)
        {
            // Eliminar de la lista de accesorios para actualizar la vista
            accesorios = accesorios.Where(a => a.Id != id).ToList();
            StateHasChanged();
            await JSRuntime.InvokeVoidAsync("mostrarToast","success", "Accesorio eliminado exitosamente.");
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("mostrarToast", "error", "Ocurrio un error al eliminar el accesorio");
        }
    }

    private void MoveToUpdate(int id)
    {
        navigationManager.NavigateTo($"/accesorios/editar/{id}");
    }

    //Cambiar de pagina

    private async void OnChangePage(int page)
    {
        try
        {
            var res_accesorios = await accesorioService.GetAccesorios(page, 5, nombreBuscar);
            accesorios = res_accesorios.Content;
            pageable = res_accesorios;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            StateHasChanged();
        }
    }

    private async void BuscarAccesorios()
    {
        try
        {
            var res_accesorios = await accesorioService.GetAccesorios(0, 5, nombreBuscar);
            accesorios = res_accesorios.Content;
            pageable = res_accesorios;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            StateHasChanged();
        }
    }
}
